
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Manrope:wght@600;800&family=Public+Sans:wght@300;400;700&display=swap');

:root {
    --desktop: 1400px;
    --mobile: 720px;
}

* {
    margin: 0;
    padding: 0;
}


.container {
    max-width: var(--desktop);
    margin: 0 auto;
    position: relative;
}

.hamburguer {
    background-color: transparent;
    background-image: none;
    border: 0;
    cursor: pointer;
    display: none;
}

body {
    font-family: 'Public Sans', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2em 0;
    background-color: #fff;
    z-index: 1;
}

ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
}

nav li {
    margin: 0 1em;
    color: hsl(233, 8%, 62%);
    cursor: pointer;
    position: relative;
}

nav li:hover::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    background: linear-gradient(40deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
}

button {
    border: none;
    color: #fff;
    background-image: linear-gradient(40deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
    padding: 1em 2.5em;
    border-radius: 5em;
    cursor: pointer;
}

button:hover {
    opacity: 50%;
}

h1 {
    margin-bottom: .5em;
    color: hsl(233, 26%, 24%);
    font-weight: 300;
    font-size: 3em;
}

p {
    color: hsl(233, 8%, 62%);
    margin-bottom: 2em;
}

.subtitle {
    max-width: 400px;
}

.box-cards {
    display: flex;
    justify-content: space-between;
}

.card {
    max-width: 300px;
}

.card h2 {
    margin: 1em 0;
    color: hsl(233, 26%, 24%);
    font-weight: 300;
}

.section {
    padding: 10em 0;
    background-color: hsl(0, 0%, 98%);
    overflow: hidden;
    position: relative;
}

.section2 {
    padding: 5em 0;
    background-color: hsl(220, 16%, 96%);
}

.avaliation-box {
    display: flex;
    justify-content: space-between;
}

.avaliation-card {
    max-width: 300px;
    background-color: white;
    cursor: pointer;
}

.avaliation-card img {
    border-radius: .5em;
    max-width: 300px;
    height: 250px;
}

.info-card {
    padding: 1.5em;
}

.info-card h3 {
    font-weight: 300;
    font-size: .75em;
    color: hsl(233, 8%, 62%);
    margin-bottom: 1em;
}

.info-card h4 {
    font-weight: 400;
    color: hsl(233, 26%, 24%);
    margin-bottom: .5em;
    cursor: pointer;
}

.info-card h4:hover {
    color: hsl(192, 70%, 51%);
}

.info-card p {
    font-weight: 300;
    font-size: .9em;
    line-height: 1.5em;
}

footer {
    color: white;
    padding: 2em 0;
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
}

.footer-bg {
    background-color: hsl(233, 26%, 24%);
}

.icons {
    max-width: 150px;
}

.icons svg {
    padding: .2em;
    cursor: pointer;
}

.icons path:hover {
    fill: hsl(192, 70%, 51%);
}

.logo-footer {
    margin-bottom: 3em;
}

.nav-footer {
    display: flex;
}

.nav-footer ul {
    display: block;
    margin: 0 5em;
}

.nav-footer li {
    font-weight: 300;
    color: hsl(233, 8%, 62%);
    cursor: pointer;
}

.nav-footer li:hover {
    color: hsl(192, 70%, 51%);
}

.nav-footer li:not(:first-child) {
    margin-top: 1em;
}

.right-footer button {
    margin-bottom: 2em;
}

.img-bg {
    position: absolute;
    right: -20%;
    top: -40%;
}

.img-bg img {
    position: absolute;
    top: 5%;
    right: 20%;
}

.logo-footer path {
    fill: #fff;
}

@media only screen and (max-width: 720px) {
    .container {
      max-width: 720px;
    }

    nav ul{
        display: none;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
    }

    nav ul.show {
        display: flex;
    }

    nav button {
        display: none;
    }

    nav svg {
        margin-left: 1em;
    }

    .hamburguer {
        display: block;
    }

    .img-bg {
        display: none;
    }

    .content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .box-cards {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .card {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card h2 {
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    .avaliation-box {
        display: flex;
        flex-direction: column;
        align-items: center;
   }

   .avaliation-card {
       margin-bottom: 3em;
   }

   .footer-info {
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .icons {
       display: block;
       margin: 0 auto;
   }

   .logo-footer {
       margin-bottom: 1em;
   }

   .nav-footer ul {
       display: block;
   }

   .right-footer {
       display: block;
       margin: 0 auto;
   }
   
   .right-footer button {
       margin-top: 2em;
   }


  }







